<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultFontSize</key>
	<integer>1</integer>
	<key>DefaultPassword</key>
	<string></string>
	<key>DefaultUsername</key>
	<string></string>
	<key>FontSizeOptions</key>
	<array>
		<real>0.5</real>
		<real>0.75</real>
		<integer>1</integer>
		<real>1.25</real>
		<real>1.5</real>
		<real>1.75</real>
		<integer>2</integer>
	</array>
	<key>HomePageTitle</key>
	<string>Home</string>
</dict>
</plist>
